<h1><%= @business.name %></h1>
<a href="<%= edit_business_url(@business) %>">Edit<br></a>


<h3>Items</h3>
<ul>
    <% unless @business.items.nil? %>
        <% @business.items.each do |item| %>
            <li><a href="<%= item_url(item) %>"><%= item.name %><br></a></li>
        <% end %>
    <% end %>
</ul>

<a href="<%= new_business_item_url(@business.id) %>">Add an item</a>
<a href="<%= user_url(@business.user_id) %>">Return to businesses</a>