<% if is_edit %>
    <% action = item_url(item.id) %>
    <% button_text = "Edit!" %>
<% else %>
    <% action = items_url %>
    <% button_text = "Create!" %>
<% end %>

<form class="form" action="<%= action %>" method="post">
    <%= auth_token %>
    <% if is_edit %>
        <input type="hidden" name="_method" value="patch">
    <% end %>

    <label for="name">Name</label>
    <input type="text" id="name" name="item[name]" value="<%= item.name %>">

    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="item[quantity]" min="0" step="1" value="<%= item.quantity %>">

    <label for="description">Description</label>
    <textarea id="description" name="item[description]" rows="4" cols="50"><%= item.description %></textarea>

    <input type="hidden" name="item[business_id]" value="<%= item.business_id %>">

    <input class="submit" type="submit" value="<%= button_text %>">
</form>