<h1><%= @item.name %></h1>
<a href="<%= edit_item_url(@item) %>">Edit<br></a>

<h3>Units</h3>
<ul>
    <% unless @item.units.nil? %>
        <% @item.units.each do |unit| %>
            <li><a href="<%= unit_url(unit) %>"><%= unit["serial_number"] %></a></li>
        <% end %>
    <% end %>
</ul>

<a href="<%= new_item_unit_url(@item.id) %>">Add a unit</a>
<a href="<%= business_url(@item.business_id) %>">Return to items</a>